.backgroundImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../resources/backgroundImg.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
}
.row_banner > h1 {
  font-size: 60px;
  color: white;
}

.backgroundImg .row_banner {
  width: 50%;
  height: 500px;
  text-align: center;
  margin-top: 10%;
}
.row_banner ul {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 50%;
}
.row_banner li {
  list-style: none;
  vertical-align: middle;
  align-items: center;
}
@media (max-width: 768px) {
  .row_banner > h1 {
    font-size: 35px;
  }
  .backgroundImg .row_banner {
    margin-top: 50%;
  }
}
