footer.main-footer-bar {
  display: flex;
  align-items: center;
  /* background-color: chocolate; */
  height: 60px;
}

ul.nav-footer-key {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
}

ul.nav-footer-key li {
  padding: 1rem;
  list-style-type: none;
}
