.h1chars {
}
.h1chars .chars {
  animation: text-deco 0.75s forwards;
  position: relative;
  opacity: 0;
}
@keyframes text-deco {
  0% {
    opacity: 0;
    bottom: -0.2em;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
